footer.footer {
    background-color: black;
    color: whitesmoke;
    width:100%;
}

footer.footer .content {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    display: flex;
}

footer.footer .content .socials {
    display: flex;
    padding: 20px 10px;
}

.socials .links {
    background-color: transparent;
    font-size: 1.1rem;
}

.inspired-link {
    color: blueviolet;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.inspired-link:hover{
    text-shadow: 1px 1px 2px red,
                2px 2px 3px yellow;
}
